@model WebCoffe.Models.Product;
@{
    Layout = "Leyat";
}
<link rel="stylesheet" href="~/css/AddCoffeStyle.css" />
@using (Html.BeginForm("AddCoffe","AddCoffe",FormMethod.Post))
{
    
    <div class="add">
        <img src="~/image/800px-Coffee_cup_icon.svg.png" class="img" />
        <label class="lblname">Coffe Name</label>
        <input type="text" class="name" name="cname" />
        <label class="lblrecip">Recipe</label>
        <input type="text" class="recipe" name="cDecription" />
        <input type="submit" class="submit"value="Add" />
    </div>
    
}
