@{

    Layout = "Leyat";
}
<link href="~/css/home.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    <div class="sklet">
        <div class="featured">



        </div>
        <idv class="listis">
 


        </idv>

    </div>
}
