@model IEnumerable<WebCoffe.Models.Product>
@{

    Layout = "Leyat";
}

<link href="~/css/Hom.css" rel="stylesheet" />
@using (Html.BeginForm("Home","Home",FormMethod.Post))
{
    <div class="sklet">
        <div class="featured">
            
           
                 <div> <label class="Title">@Model.</label></div>
           <div>
                <label class="contents">asfdsfvzdgvbbfgbhfgffghhhshsdfhgh </label>
           </div>
            
           
           
        </div>
        <div class="listis">
            @foreach (var product in Model)
            {
               <idv>
              <input name="Coffename" type="submit" value="@product.name" class="boos" /> 
                   
               </idv>
            }  
        </div>
    </div>
}
