body {
}

.footer-link-Home, .footer-link-AddCoffe, .footer-link-About {
    display: inline-block;
    color: blanchedalmond;
    text-decoration:none;

}

.footer-link-Home {
    margin-left: 1000px;
    
}

.footer-link-AddCoffe {
    margin-left: 100px;
}

.footer-link-About {
    margin-left: 100px;
}

.footer {
    background-color: black;
    height: 70px;
    width: auto;
    
}

.logo {
    display: inline-block;
    font-size: 40px;
    color: aliceblue;
    margin-left:10px;
    text-decoration:none;
}
