body {
}
.sklet {
    background-color: cadetblue;
    width: auto;
    height: 840px;
}

.featured {
  
    background-color: orange;
    height: 750px;
    width: 1400px;
    margin-top: 40px;
    float: right;
   
}
.boos
{
    width:279.5px;

}
.listis {
    margin-top:40px;
    float: left;
    width: 290px;
    height: 740px;
    background-color: crimson;
    margin-left:160px;
    overflow-y:auto;
    border:5px solid #ccc;
}
.Title
{
    font-size:90px;
    float:none;
    margin-left:400px;
    display:inline-block;
    margin-top:100px;
}
.contents
{

    float:none;
    display:inline-block;
    margin-top:50px;

}
